/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.s_about_us .info_title{
		padding: 50px 210px 30px;
	}

	.main_head .top_line .main_head_info{
		display: block;
		text-align: right;
	}

	.main_head .top_line .right{
		text-align: center;
	}

	.s_for_designer .container .center{
		display: none;
	}

	.s_for_designer .container .left,
	.s_for_designer .container .right{
		text-align: center;
		padding: 0 110px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.s_contacts .s_contacts_form input, .s_contacts .s_contacts_form textarea{
		max-width: 100%;
	}

	.s_contacts_form,
	.s_contacts .s_contacts_form .info,
	.google_map,
	.s_contacts .contacts{
		text-align: center;
	}

	.google_map{
		iframe{
			max-width: 100%;
		}
	}

	.main_head .top_line .main_head_info .wrapper p{
		line-height: 27px;
	}

	.main_head .top_line .logo{
		display: block;
		text-align: center;
	}

	.main_head .top_line .main_head_info{
		text-align: center;
	}

	.s_about_us .info_title{
		padding: 50px 50px 30px;
	}

	.main_head .bottom_line{
		text-align: center;
	}

	.main_head .bottom_line .main_head_form{
		float: none;
		margin: auto;
		margin-top: 50px;
		width: 500px;
	}

	.s_vv_system .s_vv_system_container .s_vv_system_container_title{
		padding: 40px 20px 0;
	}

	.s_about_us_img{
		text-align: center;
		margin-bottom: 20px;
	}

	.s_about_us .about_us_info .s_about_us_info{
		text-align: center;
		padding: 0;
	}

	.s_calculate_cost{
		background: rgba(0, 0, 0, 0.65098);
	}

	.s_calculate_cost .s_calculate_cost_form{
		background-color: rgba(0, 0, 0, .0); 
	}

	.s_calculate_cost .s_calculate_cost_form input{
		margin-bottom: 15px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.s_for_designer .container .left,
	.s_for_designer .container .right{
		padding: 0 30px;
	}

	.s_works .works_slider{
		margin: 0;
		overflow: hidden;
	}

	.s_works .works_slider .work{
		margin-bottom: 15px;
		margin: auto;
		width: 100%;	
	}
	
	.s_calculate_cost .s_calculate_cost_title{
		font-size: 18px;
	}

	.s_about_us .info_title{
		font-size: 21px;
	}

	.main_head .bottom_line .main_head_form{
		max-width: 100%;
	}

	.s_vv_system .s_vv_system_container{
		margin: 0 7px;
	}

	.main_head .main_nav .main_nav_items{
		display: block;
		text-align: center;
	}

	.main_head .main_nav .main_nav_items li{
		display: inline-block;
		margin: 0 15px;
	}

	.s_about_us .info_title{
		padding: 50px 20px 30px;
	}

	.main_head .top_line .right .phone a{
		margin-right: 30px;
	}

	section{
		margin: auto;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.s_for_designer .wrapper .btn{
		margin: 0 20px 30px;
	}

	.s_about_us .info_title{
		font-size: 18px;
	}

	.s_vv_system .s_vv_system_items .item{padding: 0;}

	.s_vv_system .s_vv_system_container .s_vv_system_container_title{
		font-size: 15px;
		padding: 20px 10px 0;
	}

	.main_head .top_line{
		padding-bottom: 30px;
	}

	.main_head .top_line .right .call_back{
		margin-left: 0;
	}

	.title_s{
		font-size: 27px;
	}

	.title_s:after{
		max-width: 80%;
	}

	.descr{
		font-size: 14px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}