	*:focus::-webkit-input-placeholder{
		opacity: 0; transition: opacity 0.3s ease;
	}
	*:focus::-moz-placeholder{
		opacity: 0; transition: opacity 0.3s ease;
	}
	*:focus:-moz-placeholder{
		opacity: 0; transition: opacity 0.3s ease;
	}
	*:focus:-ms-input-placeholder{
		opacity: 0; transition: opacity 0.3s ease;
	}

	*{
		outline: none !important;
	}

	.wrapper{
		overflow: hidden;
	}

	body{
		font-family: "GothamProBlack";

		font-size: 14px;
		min-width: 320px;
		position: relative;
		line-height: 1.6;
		color: #fff;
	}

	.s_main_head{
		z-index: 5;
		width: 100%;
		position: relative;
		height: 1115px;


		&:after{
			content: '';
			position: absolute;
			top: -50px;
			right: 0;
			left: 0;
			width: 100%;
			min-height: 1250px;
			box-shadow: 0 34px 54px 0 #00000059;
			background: linear-gradient(to bottom, #2a073f, #3b0e56);
			transform: skewY(4deg);
		}

		.top_line{
			background: url('../img/main_head_bg.png')no-repeat center;
			background-size: cover;
			width: auto;
			max-height: 455.5px;
			text-align: center;
			padding-top: 30px;
			padding-bottom: 600px;
			z-index: 1;


			&:before{
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				width: 100%;
				z-index: 6;
				height: 166px;
				background-image: linear-gradient(to bottom, #390d54, #390d5400);
			}

			&:after{
				content: '';
				position: absolute;
				top: 100;
				right: 0;
				left: 0;
				width: 726px;
				height: 703px;
				opacity: 0.45;
				filter: blur(135px);
				background-color: #88009e;
				margin: auto;
			}

			.phone{
				position: absolute;
				top: 0;
				right: 0;
				text-decoration: none;
				font-size: 24px;
				font-weight: 900;
				color: #ffffff;
				z-index: 6;

				&:before{
					content: '';
					position: absolute;
					top: 7px;
					right: 212px;
					background: url('../img/phone.svg');
					width: 26px;
					height: 26px;
				}
			}

			.logo{
				font-size: 72px;
				font-weight: 900;
				font-style: normal;
				font-stretch: normal;
				line-height: 81px;
				letter-spacing: 7.2px;
				color: #ffffff;
				z-index: 6;
			}

			.main_title{
				text-transform: uppercase;
				font-size: 42px;
				font-weight: 900;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 4.2px;
				color: #ffffff;
				padding-bottom: 118px;
				z-index: 2;
			}
		}

		.middle_line{
			position: relative;
			top: -350px;
			right: 0;
			left: 0;
			margin: auto;
			z-index: 100;

			.goods{
				text-align: center;

				.goods_img{
					max-width: 100%;
				}

				.goods_title{
					font-size: 36px;
					font-weight: 900;
					text-transform: uppercase;
					letter-spacing: 3.6px;

					span{
						display: block;
						font-size: 24px;
						color: #5cffa0;
					}
				}

				.goods_price{
					font-size: 18px;
					letter-spacing: 1.8px;
					font-weight: bold;

					span{
						font-size: 13px;
						font-weight: normal;
					}
				}
			}

			.left{
				padding-left: 150px;
			}

			.right{
				padding-right: 150px;
			}
		}

		.bottom_line{
			z-index: 4;
			position: relative;
			top: -300px;
			text-align: center;

			.main_head_btn{
				display: inline-block;
				font-size: 14px;
				font-weight: 900;
				letter-spacing: 1.4px;
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				line-height: 60px;
				text-align: center;
				width: 300px;
				height: 60px;
				border-radius: 100px;
				background-image: linear-gradient(to top, #d400fa, #a300c0);
				box-shadow: 0 14px 24px 0 #bf01e294;
				margin-bottom: 20px;
				transition: .2s;

				&:hover{
					box-shadow: 0 5px 5px 0 #bf01e294;
				}
			}

			.main_head_descr{
				font-size: 13px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				margin-bottom: 58px;
			}

			.item{
				font-weight: 900;
				text-align: center;


				&:hover{

					.title{

						&:after{
							box-shadow: 0 2px 2px 0 #aa00c8b2;
						}
					}

				}

				.title{
					font-size: 18px;
					letter-spacing: 7.2px;
					text-transform: uppercase;
					padding-bottom: 30px;

					&:after{
						content: '';
						position: absolute;
						bottom: 0px;
						right: 0;
						left: 0;
						margin: auto;
						width: 100px;
						height: 5px;
						object-fit: contain;
						border-radius: 16px;
						background-color: #aa00c8;
						box-shadow: 0 2px 9px 0 #aa00c8b2;
						transition: .2s;
					}
				}

				.value{
					padding-top: 30px;
					font-size: 48px;
					
					font-weight: 900;


					span{
						font-family: "GothamProRegular";
						line-height: 0;
						display: block;
						font-size: 18px;
						font-weight: normal;
					}
				}
			}
		}

		.btn_to_down{
			position: relative;
			top: -280px;
			display: block;
			text-align: center;

			img{
				z-index: 2;
				margin: auto;
				transition: .5s;
				&:hover{
					transform: translateY(10px);
				}
			}
		}
	}

	.s_what_is_it{
		position: relative;
		width: 100%;
		min-height: 722px;
		background: url('../img/s_what_is_it_bg.png');

		.product{
			position: absolute;
			top: 120px;
			left: 0;
			img{
				width: 100%;
			}
		}

		.text{
			margin-top: 50px;
			float: right;
			text-align: left;
			padding-left: 120px;

			.title{
				text-transform: uppercase;
				font-size: 18px;
				font-weight: 900;
				letter-spacing: 7.2px;
			}

			.logo{
				display: inline-block;
				font-size: 64px;
				font-weight: 900;
				line-height: 64px;
				letter-spacing: 6.4px;
				color: #fff;
				text-decoration: none;
				margin-top: 5px;
				margin-bottom: 15px;
			}

			.info{
				font-family: "GothamProMedium";
				font-size: 16px;
				font-weight: 500;
				line-height: 1.52;
				width: 365px;
			}
		}
	}

	.s_choice{
		position: relative;
		min-height: 611px;
		margin-top: -50px;
		z-index: 4;
		transform: skewY(-4deg);


		&:after{
			z-index: 0;
			content: '';
			position: absolute;
			top: -50px;
			right: 0;
			left: 0;
			bottom: 100px;
			width: 100%;
			height: 611px;
			background-image: radial-gradient(circle at 0 0, #363636, #242424);
			box-shadow: 0 24px 34px 0 #00000059;
		}

		.s_choice_wrap{
			text-align: center;
			position: relative;

			&:after{
				z-index: 2;
				content: '';
				position: absolute;
				top: -50px;
				right: 0;
				left: 0;
				bottom: 200px;
				min-width: 307px;
				min-height: 611px;
				background: url('../img/s_choice_wrap_l.png') left no-repeat;
			}

			&:before{
				z-index: 2;
				content: '';
				position: absolute;
				top: -50px;
				right: 0;
				left: 0;
				bottom: 200px;
				min-width: 307px;
				min-height: 611px;
				background: url('../img/s_choice_wrap_r.png') right no-repeat;
			}

			.container{
				z-index: 3;
				overflow: hidden;
				padding-bottom: 274px;
			}

			.s_choice_title{
				margin-top: 55px;
				text-transform: uppercase;
				font-size: 36px;
				font-weight: 900;
				letter-spacing: 3.6px;
				transform: skewY(4deg);
			}

			.s_choice_descr{
				font-size: 18px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.41;
				letter-spacing: normal;
				margin-top: 15px;
				margin-bottom: 50px;
				transform: skewY(4deg);


				span{
					display: block;
				}
			}

			.s_choice_btns{
				transform: skewY(4deg);
				z-index: 10;
				.btn_map{
					margin-right: 15px;
					display: inline-block;
					font-size: 14px;
					font-weight: 900;
					letter-spacing: 1.4px;
					color: #fff;
					text-transform: uppercase;
					text-decoration: none;
					line-height: 60px;
					text-align: center;
					width: 228px;
					height: 60px;
					border-radius: 100px;
					border: solid 1px #777777;
					background-color: transparent;
					box-shadow: 0 14px 24px 0 transparent;
					transition: .3s;

					&:hover{
						border-color: transparent;
						box-shadow: 0 14px 24px 0 #bf01e294;
						background-image: linear-gradient(to top, #d400fa, #a300c0);
					}
				}

				.btn_delivery{
					display: inline-block;
					font-size: 14px;
					font-weight: 900;
					letter-spacing: 1.4px;
					color: #fff;
					text-transform: uppercase;
					text-decoration: none;
					line-height: 60px;
					text-align: center;
					width: 228px;
					height: 60px;
					border-radius: 100px;
					border: solid 1px #777777;
					background-image: transparent;
					box-shadow: 0 14px 24px 0 transparent;
					transition: .3s;

					&:hover{
						border-color: transparent;
						box-shadow: 0 14px 24px 0 #bf01e294;
						background-image: linear-gradient(to top, #d400fa, #a300c0);
					}

				}
			}

			.img_block{
				transform: skewY(-4deg);

				.s_choice_img{
					transform: skewY(8deg);
					position: absolute;
					top: -35px;
					left: 0;
					margin: auto;
					right: 0;
					width: 510px;
					height: auto;
					z-index: 100;
				}
			}

		}
	}

	.s_map{
		min-height: 480px;
		z-index: 30;
		margin-top: -230px;

		.btn_info{
			position: absolute;
			top: -480px;
			right: 300px;
			width: 276px;
			height: 60px;
			border-radius: 100px;
			background-color: rgba(255, 255, 255, 0.7);
			border: solid 1px rgba(255, 255, 255, 0.7);
			color: #000;
			text-align: center;
			line-height: 60px;

		}
		.jselector{
			display: inline-block;
			vertical-align: top;
			position: absolute;
			top: -480px;
			left: 300px;
			cursor: pointer;
		}

		.jselector select{
			display: none;
		}

		.jselector .wrap{
			margin: auto;
			min-width: 164px;
			height: 60px;
			border-radius: 100px;
			background-color: #ffffff;
			box-shadow: 0 10px 34px 0 rgba(0, 0, 0, 0.47);
			position: relative;
			color: #000;
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			padding: 15px 44px;
		}

		.jselector button{
			position: absolute;
			top: 25px;
			right: 30px;
			width: 12px;
			height: 7px;
			border: none;
			background: url('../img/vector.png') no-repeat center;
			font-size: 0;
			cursor: pointer;
		}

		.jselector .dropdown{
			min-width: 220px;
			text-align: center;
			color: #000;
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			padding: 15px 0;
			display: none;
			position: absolute;
			left: -30px;
			right: 0;
			top: 70px;
			background-color: rgba(255, 255, 255, 0.7);
			border-radius: 5px;
		}

		.jselector.is-shown .dropdown{
			display: block;
		}

		.jselector .dropdown ul{
			list-style-type: none;
		}

		.jselector .dropdown ul li{
			padding: 10px 0px;
			cursor: pointer;
		} 

		.jselector .dropdown ul li.selected{
			background: #eee;
		}

		.jselector .dropdown ul li:hover{
			background: #eee;
		}
	}

	.main_foot{
		max-width: 100%;
		min-height: 421px;
		background-image: linear-gradient(to bottom, #3b0e56, #11011b);
		text-align: center;

		.main_foot_titile{
			margin-top: 50px;
			font-size: 36px;
			font-weight: 900;
			letter-spacing: 3.6px;
			text-transform: uppercase;
		}

		.main_foot_descr{
			font-size: 18px;
			font-weight: 500;
			margin-top: 5px;
			margin-bottom: 50px;
			letter-spacing: 1px;
		}

		.main_foot_form{

			&:after{
				content: '';
				position: absolute;
				bottom: -50px;
				right: 0;
				left: 0;
				width: 80%;
				margin: auto;
				height: 1px;
				background: rgba(255, 255, 255, 0.1);;
			}

			input{
				font-family: "GothamProMedium";
				margin-right: 10px;
				width: 249.8px;
				height: 60px;
				border-radius: 100px;
				background-color: rgba(255, 255, 255, 0.15);
				border: solid 1px rgba(255, 255, 255, 0.1);
				text-transform: uppercase;
				padding: 23px 26px;	
				letter-spacing: 1px;
				color: #fff;

				&::placeholder{
					color: #fff;
				}
			}

			.btn_sub{
				font-family: "GothamProBlack";
				margin-left: 35px;
				width: 200px;
				height: 60px;
				border-radius: 100px;
				background-image: linear-gradient(to top, #d400fa, #a300c0);
				box-shadow: 0 14px 24px 0 rgba(191, 1, 226, 0.58);
				line-height: 10px;
				transition: .2s;

				&:hover{
					box-shadow: 0 5px 5px 0 #bf01e294;
				}
			}
		}

		.soc_block{
			margin-top: 100px;
			margin-bottom: 40px;

			.vk,
			.inst,
			.phone{
				display: inline-block;
				font-family: "GothamProBold";
				
			}

			.vk,
			.inst{
				margin-right: 130px;
			}

			img{
				text-align: center;
			}

			.info{
				display: block;
				font-size: 14px;
				color: #fff;
				font-weight: bold;
				text-transform: uppercase;
				margin: auto;
				margin-top: 15px;
			}

			a{
				text-decoration: none;
			}
		}
	}

	
